.bizes
    padding-top: 0
    margin-top: 195px
    margin-bottom: 100px
    position: relative
    background-color: #EBF1FE
    +md-block
        margin-bottom: 0
    +bp1250-block
        margin-top: 60px
    +lg-block
        padding-top: 60px
    &__wave1
        position: absolute
        fill: #EBF1FE
        z-index: -1
        left: 0
        right: 0
        bottom: calc(100% - 45px)
        +bp1250-block
            bottom: calc(100% - 2px)
    &__wave2
        position: absolute
        fill: #EBF1FE
        z-index: -1
        left: 0
        right: 0
        top: calc(100% - 20px)
        stroke: 0
    &__title
        text-align: center
        margin-bottom: 80px
        +sm-block
            text-align: left
    &__container
        padding-right: 0
        +sm-block
            padding-right: 15px
    &__outer-wrapper
        overflow: hidden
    &__slider
        width: 100vw
        margin-bottom: 180px
        +bp900-block
            width: 100%
        .swiper-container
            max-width: 1700px
            margin-left: 0
        +md-block
            margin-bottom: 60px
        .swiper-slide
            +sm-block
                margin-left: auto
                margin-right: auto
    &-offer
        position: relative
        text-align: center
        &__title
            margin-bottom: 40px
        &__subtitle
            max-width: 586px
            margin: 0 auto 20px
            font-style: normal
            font-size: 18px
            line-height: 140%
            color: var(--color-midnight)
        &__flower
            position: absolute
            top: 100%
            right: 0
    &__decor
        position: absolute
        top: calc(100% - 30px)
        left: 0
        z-index: -1
        +md-block
            display: none

.biz
    text-align: center
    background-color: var(--color-white)
    border-radius: 30px
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 30px
    width: 320px
    +sm-block
        margin-left: auto
        margin-right: auto
    &-img
        height: 240px
        display: flex
        align-items: center
        > img
            max-height: 100%
    &__title
        font-size: 24px
        font-weight: 600
        margin-top: 26px
        margin-bottom: 4px
        +xl-block
            font-size: 16px
        +xs-block
            font-size: 18px
            height: 36px
    &__subtitle
        font-size: 16px
        line-height: 22px
        margin-bottom: 8px
    &__btn
        font-family: inherit
        font-size: 18px
        line-height: 140%



    