.conference
    &__title
        +visually-hidden

.conference
    &__container
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(375px, 1fr))
        grid-column-gap: 30px
        align-items: center
        +bp900-block
            grid-template-columns: 1fr
    &-text
        position: relative
        +sm-block
            max-width: 375px
            justify-self: center
            text-align: center
        &__item
            font-size: 16px
            line-height: 22px
            &:not(:last-child)
                margin-bottom: 20px
    &-img
        position: relative
        +sm-block
            height: 300px
        +xs-block
            height: 200px
        &__video
            position: absolute
            left: 50%
            top: 30%
            width: 50%
            height: 40%
            display: flex
            justify-content: center
            background: url('static/img/video-bg.jpg')
            transform: translateX(-50%)
            border-radius: 15px
            overflow: hidden
            border: 2px solid var(--color-orange)
            +bp900-block
                height: 230px
            +sm-block
                top: initial
                left: initial
                right: initial
                position: relative
                transform: initial
                margin: 0 auto
                width: 90%
                height: 250px
            +xs-block
                height: 200px
        &__image
            +sm-block
                display: none
    &__arrow
        position: absolute
        left: 50px
        +bp900-block
            display: none
