.faq-questions
    &__content
        display: grid
        grid-template-columns: 3fr 8fr
        grid-gap: 50px
    &__aside
        background-color: var(--hawkes-blue)
    &__qna
        padding-top: 50px
.faq-questions-list
    &__item
        border-bottom: 3px solid var(--color-white)
        padding: 20px 0
        padding-right: 60px
        &--current
            background-color: transparent
            font-weight: bold
    &__link
        text-decoration: none
        color: var(--color-black)
        font-size: 14px
        line-height: 19px

.faq-questions
    position: relative
    height: max-content
    .swiper-container
        padding-top: 20px
        padding-right: 40px
        padding-bottom: 20px
    .swiper-slide
        height: min-content !important
    .questions__item
        border-radius: 25px
        border: 2px solid transparent
        &.active
            border: 2px solid var(--color-black)
            background-color: var(--hawkes-blue)
            .question
                color: var(--color-white)
                background-color: var(--color-blue)
                border-radius: 23px 23px 0 0
                border-bottom: 2px solid var(--color-black)
                &__arrow path
                    fill: var(--color-white)
        .answer
            position: static
            background-color: var(--hawkes-blue)
            z-index: 999999 !important
            border-radius: 25px
    .swiper-pagination
        padding-right: 10px
        .swiper-pagination-bullet
            padding: 5px

.faq-page
    .footer
        margin-top: 25px
        z-index: 2