.feedback
    padding-top: 100px
    &__title
        text-align: center
        margin-bottom: 80px
    &-slider


.review
    border: 2px solid var(--color-orange)
    border-radius: 10px
    height: 224px
    display: flex
    align-items: center
    justify-content: center
    .play
        cursor: pointer