@import burger

.header
    &__top
        position: absolute
        left: 0
        right: 0
        top: 0
        padding: 5px 0
        background-color: var(--hawkes-blue)
    &__bottom
        display: flex
        align-items: center
    &__logo
        margin-right: 80px
        +md-block
            margin-right: 20px
    &__burger
        +md-block
            margin-left: auto
.nav
    flex-grow: 1
    +md-block
        position: fixed
        top: 0
        right: 0
        bottom: 0
        overflow: auto
        background-color: rgb(0,0,0)
        transform: translateX(800px)
        transition: transform .3s
        z-index: 1000
    &-list
        position: relative
        display: flex
        width: 100%
        text-transform: uppercase
        +md-block
            @media screen and ( max-height: 300px)
                padding: 50px 0
            color: var(--color-white)
            width: 320px
            font-size: 30px
            justify-content: center
            align-items: center
            flex-direction: column
            height: 100%
        &__item
            &:not(:last-child)
                margin-right: 30px
                +md-block
                    margin-right: 0
                    &:not(:last-child)
                        margin-bottom: 10px
            &-name
                display: grid
                grid-template-columns: min-content min-content
                align-items: center
                grid-gap: 7px
            &--right
                margin-left: auto
                +md-block
                    margin-left: 0
        &__link
            font-weight: 700
            text-decoration: none
            color: inherit
            font-size: 16px
            &--entry
                color: var(--color-blue)
                &::after
                    content: ''
                    display: block
                    margin-top: 5px
                    height: 2px
                    width: 100%
                    background-color: var(--color-orange)
        &__nested
            position: absolute
            top: 100%
            left: 0
            right: 0
            transform: scaleY(0)
        
.header.active
    +md-block
        .nav
            transform: translateX(0)
    ~ .overlay
        display: block

.header-link
    position: relative
    font-size: 14px
    color: inherit
    text-decoration: none
    text-transform: uppercase
    transition: color .3s
    &::after
        content: ''
        position: absolute
        bottom: -6px
        left: 0
        display: block
        height: 1px
        background-color: var(--color-orange)
        width: 100%
        transform: scaleX(0)
        transition: transform .3s
        transform-origin: center center
    &:hover::after
        transform: scaleX(1)

.cabinet
    &__link
        +md-block
            margin-right: 10px
        &:not(:last-child)
            margin-right: 29px

.burger
    width: 45px
    height: 30px
    position: relative
    z-index: 1001
    display: none
    +md-block
        display: block

.ham 
    cursor: pointer
    position: absolute
    -webkit-tap-highlight-color: transparent
    transition: transform 400ms
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    width: 200%
    height: 200%
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    
  
.hamRotate.active
  transform: rotate(45deg)

.hamRotate180.active
  transform: rotate(180deg)

.line 
    fill: none
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, stroke 400ms
    stroke: var(--color-black)
    stroke-width: 5.5
    stroke-linecap: round
  
.ham6 .top 
  stroke-dasharray: 40 172

.ham6 .middle 
  stroke-dasharray: 40 111

.ham6 .bottom 
  stroke-dasharray: 40 172

.ham6.active
    > *
        stroke: var(--color-white)
.ham6.active .top 
  stroke-dashoffset: -132px

.ham6.active .middle 
  stroke-dashoffset: -71px

.ham6.active .bottom 
  stroke-dashoffset: -132px

