.page
    &__faq
        margin-bottom: 160px
        +md-block
            margin-bottom: 0
    &__bizes
        margin-bottom: 100px
        margin-top: 300px
        @media screen and ( max-width: 1190px )
            margin-top: 200px
        +md-block
            margin-top: 150px
    &__plans
        margin-bottom: 100px
        +md-block
            margin-bottom: 30px
        
            
