.video-block {
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &.active {
        border: 2px solid var(--color-orange);
        overflow: auto;
        max-height: 90%;
        width: 90%;
        max-width: 800px;
        max-height: 500px;
        z-index: 200;
        position: fixed;
        top: 50%;
        left: 50%;
        @include sm-block() {
            max-height: 300px;
        }
        @include xs-block() {
            max-height: 200px;
        }
        transform: translate(-50%, -50%);
        .video-block__close {
            display: block;
        }
    
        .video {
            min-height: 500px;
            @include sm-block() {
                min-height: 300px;
            }
            @include xs-block() {
                min-height: 200px;
            }
        }
    }
    .video-block__close {
        display: none;
        cursor: pointer;
        stroke: var(--color-white);
        z-index: 200;
        position: absolute;
        right: 5px;
        top: 10px;
        transition: transform .3s;
        &:hover {
            transform: scale(1.2);
        }
    }       
}

.video {
    position: relative;
    overflow: hidden;
}

.video__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
}

.video__button-icon {
    fill: #ffffff;
}

.video__button:focus {
    outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
}

/* Enabled */

.video--enabled {
    cursor: pointer;
}

.video--enabled .video__button {
    display: block;
}