.why
    &__title
        text-align: center
        margin-bottom: 80px
    &__blocks
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr))
        justify-content: center
        grid-gap: 40px
        @media screen and ( max-width:  1290px)
            max-width: 850px
            margin: 0 auto
            

.advantage
    text-align: center
    &-img
        background-color: #EBF1FE
        height: 200px
        display: flex
        justify-content: center
        overflow: hidden
        border-radius: 30px
    &__title
        margin: 30px 0 13px
        font-size: 24px
        font-weight: 600
    &__subtitle
        margin: 0 auto
        max-width: 178px