.hero-video
    position: absolute
    left: 3%
    height: 32%
    width: 35%
    top: 20%
    background-color: var(--color-white)
    +md-block
        top: 18%
        width: 43%
        height: 60%
    +sm-block
        height: 70%
        width: 47%
    &__media
        height: 100%
    &__play, &__desc
        display: none
        +xs-block
            display: block
    +bp1050-block
        width: 40%
        height: 41%
        top: 30%