.hero.hero_main 
    .hero-content
        grid-template-columns: 500px 1fr
        +bp1050-block
            grid-template-columns: 1fr
            padding-top: 30px
    .hero-img
        justify-self: end
        +bp1050-block
            justify-self: center
        &__img
            +bp1050-block
                margin-left: auto
        &__youtube
            position: absolute
            top: 52%
            left: 31%
            cursor: pointer
            display: flex
    .hero-text
        &__info
            padding: 10px
            white-space: nowrap
            width: min-content
            border-radius: 30px
            color: #3EECC2
            border: 1px solid currentColor
            font-style: normal
            font-weight: bold
            font-size: 12px
            line-height: 140%
            margin-bottom: 18px

.hero-title_main
    font-size: 72px
    font-weight: 700
    line-height: 100%
    color: var(--color-blue)
    font-family: 'Montserrat'
    margin-bottom: 22px
    letter-spacing: 1.2
    +md-block
        font-size: 50px
        text-align: center

.hero-subtitle_main
    line-height: 29px
    font-size: 18px
    font-style: normal
    font-weight: normal
    +bp1050-block
        text-align: center