.hero
    &-content
        display: grid
        grid-template-areas: "text img" "btns img"
        grid-template-columns: 5fr 7fr
        grid-gap: 30px
        align-items: center
        +bp1050-block
            grid-row-gap: 30px
            grid-template-columns: 1fr
            grid-template-areas: "text" "img" "btns"
    &__title
        +bp1050-block
            text-align: center  
            max-width: 100%
    &__subtitle
        +bp1050-block
            max-width: 700px
            margin: 0 auto
        
    &-text
        grid-area: text
        +bp1050-block
            justify-self: center
        &__info
            margin-bottom: 18px
    &-img
        position: relative
        grid-area: img
        +bp1050-block
            justify-self: center
    &-btns
        grid-area: btns
        position: relative
        display: flex
        align-self: start
        +bp1050-block
            justify-self: center
        +xs-block
            flex-direction: column
            justify-self: start
            width: 100%

.hero-title
    font-size: 72px
    font-weight: 700
    line-height: 100%
    color: var(--color-blue)
    font-family: 'Montserrat'
    margin-bottom: 22px
    letter-spacing: 1.2
    +md-block
        font-size: 50px
        text-align: center

.hero-subtitle
    line-height: 29px
    font-size: 18px
    font-style: normal
    font-weight: normal
    +bp1050-block
        text-align: center