.hero
    &-content
        display: grid
        grid-template-areas: "text img" "btns img"
        align-items: center
        +bp1050-block
            grid-row-gap: 30px
            grid-template-columns: initial
            grid-template-areas: "text" "img" "btns"
    &-text
        grid-area: text
        +bp1050-block
            justify-self: center
    &-img
        position: relative
        grid-area: img
        +bp1050-block
            justify-self: center
        &__img
            display: flex
    &-btns
        grid-area: btns
        position: relative
        display: flex
        align-self: start
        +bp1050-block
            justify-self: center
        +xs-block
            flex-direction: column
            justify-self: start
            width: 100%