body
    color: var(--color-dark)
    font-size: $bodyFz
    font-family: '#{$mainFont}', sans-serif
    font-weight: $bodyFw
    background-color: var(--color-white)

.section
    padding: 60px 0

.title
    font-weight: 700
    font-size: 35px        


.btn-more
    border: 1px solid #1448B6
    text-align: center
    border-radius: 29px
    padding: 16px 52px
    background-color: transparent