body
    color: var(--color-dark)
    font-size: $bodyFz
    font-family: '#{$mainFont}', sans-serif
    font-weight: $bodyFw
    background-color: var(--color-white)

.section
    padding: 60px 0

.title
    font-weight: 700
    font-family: 'Montserrat'
    font-size: 35px  
    line-height: 43px      

.btn-white
    cursor: pointer
    border: 1px solid var(--color-blue)
    text-align: center
    border-radius: 29px
    padding: 16px 52px
    background-color: transparent
    transition: color .3s,  background-color .3s
    &:hover
        color: var(--color-white)
        background-color: var(--color-blue)
        
.btn-blue
    cursor: pointer
    background-color: var(--color-blue)
    border-radius: 46px
    padding: 16px 40px
    font-size: 16px
    color: #fff
    border: 1px solid transparent
    transition: background-color .3s, border .3s, color .3s
    &:hover
        background-color: transparent
        color: #1448B6
        border: 1px solid var(--color-blue)

.swipe-info
    display: none
    padding: 0 10px 20px
    align-items: center
    +sm-block
        display: flex
    &__text
        white-space: nowrap
        line-height: 22px
        color: var(--color-orange)
        font-size: 16px
    &__arrow
        flex-grow: 1
    &__img
        width: 100%


.link_orange
    color: var(--color-orange)
    position: relative
    text-decoration: none
    &::after
        content: ''
        display: block
        position: absolute
        bottom: -1px
        left: 0
        width: 100%
        height: 1px
        background-color: currentColor
    &:hover
        color: var(--color-blue)
        &::after
            width: 0
        

    

