body
    color: var(--color-dark)
    font-size: $bodyFz
    font-family: '#{$mainFont}', sans-serif
    font-weight: $bodyFw
    background-color: var(--color-white)

.section
    padding: 60px 0

.title
    font-weight: 700
    font-size: 35px        

.btn-more
    cursor: pointer
    border: 1px solid var(--color-blue)
    text-align: center
    border-radius: 29px
    padding: 16px 52px
    background-color: transparent
    transition: color .3s,  background-color .3s
    &:hover
        color: var(--color-white)
        background-color: var(--color-blue)
