:root {
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #1448B6;
    --color-orange: #DCAF54;
    --hawkes-blue: #EBF1FE;
    --color-malachite: #09CC34;
    --color-midnight: #001032;
}

// body vars
$mainFont: 'Jura';
$bodyFw: 300;
$bodyFz: 14px;

