.list-image-title.list-image-title_promotion
    .list-image-title-ul__item
        &--1 .list-image-title-ul__text
            max-width: 185px
        &--2 .list-image-title-ul__text
            max-width: 315px
        &--3 .list-image-title-ul__text
            max-width: 289px
        &--4 .list-image-title-ul__text
            max-width: 205px
